    <nav id="overlord" class="user_top">
        <figure id="logo_top" class="">
            <a href="/">Emde Fikri</a>
        </figure>
        <h2 id="nav_title" class="user_top"><a href="/">Emde Fikri</a></h2>
        <figure id="hamburger">
            <a href="#menu" id="hamburger_button">Menu</a>
        </figure>
        <ul id="dropdown" class="onblog">
            <li class="dropdown_message">
                <a href="/">Maulida Dzul Fikri adalah penulis di dalam jaringan <span class="logoize">Emde.web.id</span>.</a>
            </li>
            <li><a href="/journal">Jurnal</a></li>
            <li><a href="/links">Tautan</a></li>
            <li><a href="/articles">Artikel</a></li>
            <li><a href="/notes">Catatan</a></li>
            <li><a href="/about">Tentang</a></li>
            <li style="margin: 0; padding: 0;">
                <hr class="overlord_nav" >
            </li>
            <li><a href="/feed">Feed</a></li>
        </ul>
    </nav>